/* Landing Page Styles */

body {
	background: #2f2840 url(company_splash_page/bg_body.gif);
  color: #45494d;
  font: normal 20px Helvetica, Arial, sans-serif;
  padding: 75px 0 50px 0;
}

header, main, footer {
  width: 1000px;
  margin: 0 auto;
}

main {
  background: #ffffff;
  padding: 75px 0 0 0;
  text-align: center;
}

article {
  padding: 0 110px 100px 110px;
}

footer {
  background: #e7e7e7;
  padding: 30px 0;
}

footer ul {
  margin: 0;
  text-align: center;
}

li {
  display: inline;
  padding: 0 62px;
}

h1 {
  padding: 0 0 50px 0;
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  color: #3e98b2;
  font-size: 24px;
}