@import url("whitespace_reset.css");

/*===============================================================*/
/*===================== Page Styles =============================*/
/*===============================================================*/

body {
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  padding: 135px 0 0 0;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  color: #45494d;
  text-align: center;
}

/*===============================================================*/
/*======================= Header Styles =========================*/
/*===============================================================*/

header h1 {
  padding: 0 0 100px 0;
}

nav {
  font-size: 26px;
  text-transform: uppercase;
  padding: 0 0 40px 0;
}

nav li {
  display: inline;
  padding: 0 42px;
}

nav a {
  color: #cacaca;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  color: #6db9ff;
}

/*===============================================================*/
/*====================== Main Styles ============================*/
/*===============================================================*/

main {
  background: #ffffff;
  padding: 100px 0 0 0;
}

.column {
  width: 1000px;
  margin: 0 auto;
}

main h2 {
  font-size: 36px;
  font-weight: 600;
  padding: 0 0 30px 0;
}

main h2:before,
main h2:after {
  display: inline-block;
  padding: 0 24px;
  font-size: 22px;
  content: "\2022";
  vertical-align: middle;
}

main h3 {
  font-size: 24px;
  color: #3e59b2;
  padding: 0 0 20px 0;
}

article {
  padding: 0 0 100px 0;
}

article p {
  padding: 0 110px;
}

/* =========== Projects Page =========== */

#projects figure {
  padding: 0 0 45px 0;
}

#projects figure img {
  display: block;
}

/* =========== Team Page =========== */

#team p {
  padding: 0 120px 120px 120px;
}

#team ul {
  padding: 0 0 225px 0;
}

#team li {
  display: inline-block;
  padding: 0 30px;
  font-size: 24px;
}

#team li a {
  text-decoration: none;
  color: #3e59b2;
}

#team li img {
  display: block;
  margin: 0 0 25px 0;
}

/*===============================================================*/
/*==================== Footer Styles ============================*/
/*===============================================================*/

footer {
  color: #b2b2b2;
  background: #e7e7e7;
  padding: 80px 0;
}

footer p {
  padding: 0 0 35px 0;
}

footer li {
  display: inline-block;
  padding: 0 62px;
}

footer li a {
  display: block;
  width: 46px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

footer li a.facebook { background-position: 0 -46px; }
footer li a.email { background-position: 0 -92px; }
footer li a.instagram { background-position: 0 100%; }

